<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>Compass Starter by Ariona, Rian</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="./static/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="./static/css/style.css">
		<link rel="stylesheet" href="./static/css/mystyles.css">
		<!-- MDB -->
	
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="/home.html" class="branding">
						<img src="./static/images/Str1.png" alt="" class="logo" width="60" height="50">
						<div class="logo-type">
							<h1 class="site-title">Team Storm</h1>
							<small class="site-description">2.0</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/home">Home</a></li>
							<li class="menu-item"><a href="/dashboard">Dashboard</a></li>
							<li class="menu-item"><a href="/map">Map</a></li>
							<li class="menu-item"><a href="/aboutus">About Us</a></li>
							<li class="menu-item"><a href="/workcited">Work Cited</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->
        
		 <div class="hero" data-bg-image="./static/images/Stro2.mp4" height="600px"> 
				<video autoplay muted loop playsinline width="100%" >
				<source src="./static/images/Stro2.mp4" type="video/mp4" />
			
				</video>
		 </div> 
		
				
		 <h2 class="main-contenth2">Storms of Atlantic Basin</h2>
			
			 {#<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">Monday</div>
								<div class="date">6 Oct</div>
							</div> 
							<!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location">New York</div>
								<div class="degree">
									<div class="num">23<sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src="images/icons/icon-1.svg" alt="" width=90>
									</div>	
								</div>
								<span><img src="images/icon-umberella.png" alt="">20%</span>
								<span><img src="images/icon-wind.png" alt="">18km/h</span>
								<span><img src="images/icon-compass.png" alt="">East</span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Tuesday</div>
							</div> 
							<!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="images/icons/icon-3.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Wednesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="images/icons/icon-5.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Thursday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="images/icons/icon-7.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Friday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="images/icons/icon-12.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Saturday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="images/icons/icon-13.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day">Sunday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="images/icons/icon-14.svg" alt="" width=48>
								</div>
								<div class="degree">23<sup>o</sup>C</div>
								<small>18<sup>o</sup></small>
							</div>
						</div>
					</div>
				</div>
			</div>#}
			
			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="images/live-camera-1.jpg" alt=""></figure>
									<h3 class="location"></h3>
									<small class="date"></small>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="images/live-camera-2.jpg" alt=""></figure>
									<h3 class="location"></h3>
									<small class="date"></small>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="images/live-camera-3.jpg" alt=""></figure>
									<h3 class="location"></h3>
									<small class="date"></small>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="images/live-camera-4.jpg" alt=""></figure>
									<h3 class="location"></h3>
									<small class="date"></small>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fullwidth-block" data-bg-color="#262936">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="news">
									<div class="date">2021</div>
									<h3><a href="#"> </a></h3>
									<p>last recorded date from the dataset</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<div class="date">1852</div>
									<h3><a href="#"> </a></h3>
									<p>First recorded date from the data set</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<div class="date">1960</div>
									<h3><a href="#"> </a></h3>
									<p>Launch of the TILOS, The worlds first weather satellite</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">Application features</h2>
								<ul class="arrow-feature">
									<li>
										<h3>Real-Time Data:</h3>
										<p>Display up-to-date information on temperature, humidity, wind speed, and atmospheric pressure.</p>
									</li>
									<li>
										<h3>Location-Based: </h3>
										<p>Show weather conditions based on the user’s current location or any selected location.</p>
									</li>
									<li>
										<h3>Weather Icons</h3>
										<p> Use visual icons to represent weather conditions such as sunny, cloudy, rainy, etc.</p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Weather analyssis</h2>
								<ul class="arrow-list">
									<li><a href="#"> Collect data from local or global weather stations.</a></li>
									<li><a href="#">Gather historical weather data to identify long-term trends and patterns.</a></li>
									<li><a href="#">Incorporate real-time weather updates for current analysis and forecasting.</a></li>
									<li><a href="#">Analyze relative humidity levels and their variations over time.</a></li>
									<li><a href="#">Detect long-term trends using methods such as linear regression.</a></li>
									<li><a href="#">Show spatial variations in weather variables.</a></li>
									<li><a href="#">Explore relationships between different weather variables.</a></li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Weather Prediction</h2>
								<ul class="arrow-list">
									<li><a href="#"> Local and Global Weather Stations: Gather data from a variety of sources to ensure a comprehensive dataset. Include variables like temperature, humidity, precipitation, wind speed, and atmospheric pressure..</a></li>
									<li><a href="#">Use the historical trends and relationships identified through your analysis to build predictive models. Techniques such as time series analysis or machine learning algorithms can be employed to forecast weather patterns for the past four years.</a></li>
									<li><a href="#">Incorporate real-time weather updates for current analysis and forecasting.</a></li>
									<li><a href="#">Analyze relative humidity levels and their variations over time.</a></li>
									<li><a href="#">Detect long-term trends using methods such as linear regression.</a></li>
									<li><a href="#">Show spatial variations in weather variables.</a></li>
									<li><a href="#">Map out spatial variations in weather data to visualize how weather patterns differ across different regions.</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Enter your email to subscribe...">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>

					<p class="colophon">Copyright 2024 Company name. Designed by Hassan Aftab. All rights reserved</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>
		<!-- MDB -->

		<script src="./static/js/jquery-1.11.1.min.js"></script>
		<script src="./static/js/plugins.js"></script>
		<script src="./static/js/app.js"></script>
		
	</body>

</html>